<div>
<h1>User info</h1>
  <p>name <%= current_user.name %></p>
  <p>introduction <%= current_user.introduction %></p>
  <%= link_to "edit", edit_user_path(current_user) %>
</div>

<div>
<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :opinion %>
  <%= f.submit 'Create book' %>
<% end %>
</div>

<div>
  <h1>Books</h1>
  <% @books.each do |book| %>
    <p>Title : <%= book.title %></p>
    <p>Opinion : <%= book.opinion %></p>
  <% end %>
</div>