<div>
  <h1>Book detail</h1>
    <p>image</p>
    <p><%= @book.user.name %></p>
    <%= @book.title %>
    <%= @book.opinion %>
    <% if @book.user == current_user %>
      <%= link_to "edit", edit_book_path %>
      <%= link_to "destroy", book_path(@book.id), method: :delete %>
    <% end %>
</div>

