<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1"">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/acb3394eb7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column v-100">
    <header class="bg-dark" >
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <%= link_to "Bookers", root_path, class: 'text-white font-weight-bold' %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>
              <li class="navi-item">
                <%= link_to book_path(current_user) do %>
                  <div class="text-white">
                    <i class="fa-solid fa-house"></i>
                    Home
                  </div>
                <% end %>
              </li>

              <li class="navi-item">
                <%= link_to users_path do %>
                  <div class="text-white">
                    <i class="fa-solid fa-users"></i>
                    Users
                  </div>
                <% end %>
               </li>

              <li class="navi-item">
                <%= link_to books_path do %>
                  <div class="text-white">
                    <i class="fa-solid fa-book-open"></i>
                    Books
                  </div>
                <% end %>
              </li>

              <li class="navi-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <div class="text-white">
                   <i class="fa-solid fa-right-from-bracket"></i>
                    Log out
                  </div>
                <% end %>
               </li>

            <% else %>
              <li class="navi-item">
                <%= link_to root_path do %>
                  <div class="text-white">
                    <i class="fa-solid fa-house"></i>
                    Home
                  </div>
                <% end %>
              </li>

             <li class="navi-item">
               <%= link_to home_about_path do %>
                <div class="text-white">
                  <i class="fa-solid fa-link"></i>
                  About
                </div>
               <% end %>
             </li>

             <li class="navi-item">
               <%= link_to new_user_registration_path do %>
                <div class="text-white">
                  <i class="fa-solid fa-user-plus"></i>
                  Sign up
                </div>
               <% end %>
              </li>

             <li class="navi-item">
               <%= link_to new_user_session_path do %>
                <div class="text-white">
                 <i class="fa-solid fa-right-to-bracket"></i>
                  Log in
                </div>
               <% end %>
             </li>
           <% end %>
          </ul>

        </div>
       </div>
       </nav>
    </header>
   
    <main>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>

     <footer>
       <div class="mt-5 text-center">
           <p>CopyRight Infratop.inc</p>
        </div>
    </footer>

  </body>
</html>
